/* ====== Table of content Start =====*/
/*
Project Name: Quizo
File        : CSS Base
Version     : 1.0.0
Author      : jthemes (https://themeforest.net/user/jthemes)
*/
/* ====== Table of content End =====*/
/* Default transition start*/
/*Default transition end*/
.wrapper {
  width: 100%;
  min-height: 100vh;
}

.steps_area {
  width: 35%;
  position: relative;
}

.image_holder img {
  width: 100%;
  height: 100vh;
}

.form_wrapper {
  background-image: url("../images/background/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  max-width: 100%;
  min-height: 100vh;
  padding-bottom: 10rem;
}

.count_clock img {
  width: 2.8125rem;
}

.count_number span {
  font-size: 3.125rem;
  background: -webkit-linear-gradient(#c82090, #6a14d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.question_title h1 {
  width: 75%;
  font-size: 2.359375rem;
  padding: 2rem 4rem;
  margin: 0 7rem;
  background: -webkit-gradient(linear, right top, left top, from(#c82090), to(#6a14d1));
  background: linear-gradient(to left, #c82090, #6a14d1);
}

.multisteps_form_panel {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
  height: 0;
}

.multisteps_form_panel.active {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
}

.multisteps_form_panel[data-animation=scaleOut] {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.multisteps_form_panel[data-animation=scaleOut].active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.multisteps_form_panel[data-animation=slideHorz] {
  right: -50px;
}

.multisteps_form_panel[data-animation=slideHorz].active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  right: 0;
}

.multisteps_form_panel[data-animation=slideVert] {
  top: 30px;
}

.multisteps_form_panel[data-animation=slideVert].active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  top: 0;
}

.multisteps_form_panel[data-animation=fadeIn].active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.multisteps_form_panel[data-animation=scaleIn] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.multisteps_form_panel[data-animation=scaleIn].active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.form_content {
  display: none;
}

.multisteps_form_panel.active .form_content {
  display: block;
}

.form_items {
  width: 70%;
  margin: 0 auto;
}
.form_items label {
  width: 100%;
  color: #0d1424;
  font-size: 1.81125rem;
  padding: 1rem;
  border: 3px solid #0d1424;
  cursor: pointer;
}
.form_items label.active {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#c82090), to(#6a14d1));
  background: linear-gradient(to left, #c82090, #6a14d1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
}
.form_items input {
  opacity: 0;
}
.form_items .error {
  width: 300px;
  color: red;
  font-size: 1.5rem;
  top: 443px;
  right: 67%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  position: absolute;
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  display: block;
  font-weight: 600;
}
.form_items .error::after {
  display: none;
}

.step_progress_bar {
  width: 66%;
  bottom: 183px;
  right: 67.5%;
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.progress {
  width: 65%;
  height: 1.25rem;
  font-size: 1rem;
  margin: 6rem auto 0rem auto;
}
.progress .progress-bar {
  background: -webkit-gradient(linear, right top, left top, from(#c82090), to(#6a14d1));
  background: linear-gradient(to left, #c82090, #6a14d1);
  border: 3px solid #e1e1e1;
}

.step span {
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  font-size: 2.07125rem;
  font-weight: 600;
  top: -15%;
  right: 21px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #cfcfcf;
}
.step p {
  color: #cfcfcf;
  font-size: 1.24875rem;
  font-weight: 500;
}
.step.active span {
  background: -webkit-gradient(linear, right top, left top, from(#c82090), to(#6a14d1));
  background: linear-gradient(to left, #c82090, #6a14d1);
}
.step.active p {
  background: -webkit-linear-gradient(#c82090, #6a14d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.step.finish span {
  background: -webkit-gradient(linear, right top, left top, from(#c82090), to(#6a14d1));
  background: linear-gradient(to left, #c82090, #6a14d1);
}
.step.finish p {
  background: -webkit-linear-gradient(#c82090, #6a14d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_btn {
  bottom: 10%;
  right: 4%;
}
.form_btn a {
  color: #ffffff !important;
}
.form_btn a:hover {
  color: #000000 !important;
}

.prev_btn {
  font-size: 1rem;
  padding: 1rem;
  font-weight: 600;
  background-color: #000000;
}
.prev_btn .fas {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #000000;
  background-color: #ffffff;
}
.prev_btn .fas:hover {
  color: #ffffff;
  background-color: #000000;
  -webkit-transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.prev_btn:hover {
  color: #000000 !important;
  background-color: #ffffff;
  -webkit-transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.next_btn {
  font-size: 1rem;
  padding: 1rem;
  font-weight: 600;
  background: -webkit-gradient(linear, right top, left top, from(#c82090), to(#6a14d1));
  background: linear-gradient(to left, #c82090, #6a14d1);
}
.next_btn .fas {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #000000;
}
.next_btn .fas:hover {
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.next_btn:hover {
  color: #000000 !important;
  background: -webkit-gradient(linear, right top, left top, from(#6a14d1), to(#c82090));
  background: linear-gradient(to left, #6a14d1, #c82090);
  -webkit-transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

body {
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins", sans-serif;
}

a,
button,
input {
  cursor: pointer;
  text-decoration: none;
}
a:hover,
button:hover,
input:hover {
  text-decoration: none;
}
a:focus,
button:focus,
input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

/* transition - start ============================ */
a,
button {
  -webkit-transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

/* transition - end ============================== */
.step_area_fixed {
  position: fixed;
}

.animate_25ms {
  -webkit-animation-delay: 25ms;
          animation-delay: 25ms;
}

.animate_50ms {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.animate_100ms {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.animate_150ms {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.animate_200ms {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1510px;
  }
}
/* ==================================================
*   01 - media screen and (max-width: 1400px)
*   02 - media screen and (max-width: 1200px)
*	03 - media screen and (max-width: 992px)
*	04 - media screen and (max-width: 768px)
*	05 - media screen and (max-width: 576px)
*	06 - media screen and (max-width: 380px)
*   XX-Large devices (larger desktops)
*   No media query since the xxl breakpoint has no upper bound on its width
================================================== */
@media screen and (max-width: 1399.98px) {
  .question_title h1 {
    font-size: 2rem;
    padding: 2rem;
  }

  label {
    width: 90%;
    font-size: 1.1rem;
  }

  .step span {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .step p {
    font-size: 1.1rem;
  }

  .form_btn {
    right: 3%;
  }

  .prev_btn {
    padding: 0.6rem;
    font-weight: 500;
  }

  .next_btn {
    padding: 0.6rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 1199.98px) {
  .question_title h1 {
    width: 70%;
    font-size: 1.5rem;
    padding: 1.7rem;
  }

  label {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }

  .form_btn {
    right: 20%;
  }

  .next_btn {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 991.98px) {
  .steps_area {
    position: static;
  }

  label {
    padding: 1rem 2rem;
  }

  .steps_number {
    margin-bottom: 10rem;
  }

  .form_btn {
    right: 30%;
    bottom: 5%;
  }
}
@media screen and (max-width: 767.98px) {
  .question_title h1 {
    padding: 1.5rem;
  }

  label {
    width: 80%;
    padding: 1rem 2rem;
  }

  .progress {
    width: 90%;
  }

  .step span {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    top: -40px;
    right: 15px;
  }
  .step p {
    font-size: 1rem;
  }

  .form_btn {
    right: 20%;
  }
}
@media screen and (max-width: 575.98px) {
  .question_title h1 {
    width: 90%;
    font-size: 1rem;
    padding: 1.5rem;
  }

  label {
    width: 100%;
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .progress {
    width: 90%;
  }

  .step span {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    top: -40px;
    right: 15px;
  }
  .step p {
    font-size: 1rem;
  }

  .form_btn {
    bottom: 2%;
    right: 15%;
  }
}